#!/bin/bash -ex
{%for device in devices %}
    #{{device.name}} removal rules
    {%for nat in device.nats%}
    sudo iptables -t nat -D PREROUTING -d {{nat.nat_ip}} -p tcp --dport {{nat.nat_port}} -j DNAT --to-destination {{nat.ip}}:{{nat.port}}
    sudo iptables -D FORWARD -p tcp -d {{nat.ip}} --dport {{nat.port}} -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT
    sudo iptables -t nat -D POSTROUTING -s {{nat.ip}} -j SNAT --to-source {{nat.nat_ip}}
    {%endfor%}
{%endfor%}
