#!/bin/bash -ex
{%for device in devices %}
    #{{device.name}} rules
    {%for nat in device.nats%}
    sudo iptables -t nat -I PREROUTING 1 -d {{nat.nat_ip}} -p tcp --dport {{nat.nat_port}} -j DNAT --to-destination {{nat.ip}}:{{nat.port}}
    sudo iptables -I FORWARD 1 -p tcp -d {{nat.ip}} --dport {{nat.port}} -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT
    sudo iptables -t nat -I POSTROUTING 1 -s {{nat.ip}} -j SNAT --to-source {{nat.nat_ip}}
    {%endfor%}
{%endfor%}
